* {
    box-sizing: border-box;
    font-family: Verdana;
}

body {
    background-color: rgb(97, 110, 122);
}

div.whole {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: rgb(188, 195, 210);
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;

    background-image: url("images/logo3.png");
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-position: center;
}

h1 {
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 0px;
}

h2 {
    font-size: 10px;
    margin-top: -8px;
    margin-bottom: 0px;
    color: #adadad;
    font-weight: bold;
}

h3 {
    font-size: 14px;
    margin-top: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
}

h4 {
    color: rgb(69, 82, 108);
}

p.quation_first_line {
    color: #adadad;
    margin-bottom: 5px;
}

q.zyla_said {
    font-size: 18px;
}

q.zyla_said_in {
    color: #adadad;
    quotes: none;
    font-size: 12px;
}

div.whois {
    text-indent: 30px;
    line-height: 1.5em;
    word-wrap: break-word;
    text-align: justify;
    margin-right: 5px;
    margin-bottom: 10px;
}

img.whois_pictures {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}

img.article_picture {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}

img.funclub_gif {
    width: 48%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}

img.join_animation {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}

.glow {
    font-size: 28px;
    color: #daddff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #010c9f, 0 0 40px #183fe0, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #4d5cff, 0 0 40px #4d71ff, 0 0 50px #4d56ff, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

a.linkbutton {
    text-decoration: none;
    font-weight: bolder;
    font-size: 30px;
    color: #FFFFFF;
    text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
    color: #FFFFFF;
}

a.linkbutton-current {
    text-decoration: none;
    font-weight: bolder;
    font-size: 30px;
    color: #2a2f38;
    text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
    color: #2a2f38;
}

a.linkbutton:hover {
    text-decoration: none;
    font-weight: bolder;
    font-size: 30px;
    color: #010c9f;
    text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
    color: #010c9f;
}

a.linkbutton-footer {
    text-decoration: none;
    font-weight: bolder;
    font-size: 15px;
    color: #FFFFFF;
    text-shadow: 0 1px 0 #CCCCCC,
    0 2px 0 #c9c9c9, 0 3px 0 #bbb,
    0 4px 0 #b9b9b9, 0 5px 0 #aaa,
    0 6px 1px rgba(0, 0, 0, .1),
    0 0 5px rgba(0, 0, 0, .1),
    0 1px 3px rgba(0, 0, 0, .3),
    0 3px 5px rgba(0, 0, 0, .2),
    0 5px 10px rgba(0, 0, 0, .25),
    0 10px 10px rgba(0, 0, 0, .2),
    0 20px 20px rgba(0, 0, 0, .15);
    color: #FFFFFF;
}

a.linkbutton-footer:hover {
    text-decoration: none;
    font-weight: bolder;
    font-size: 15px;
    color: #FFFFFF;
    text-shadow: 0 1px 0 #001fe6,
    0 2px 0 #c9c9c9, 0 3px 0 #bbb,
    0 4px 0 #b9b9b9, 0 5px 0 #aaa,
    0 6px 1px rgba(0, 0, 0, .1),
    0 0 5px rgba(0, 0, 0, .1),
    0 1px 3px rgba(0, 0, 0, .3),
    0 3px 5px rgba(0, 0, 0, .2),
    0 5px 10px rgba(0, 0, 0, .25),
    0 10px 10px rgba(0, 0, 0, .2),
    0 20px 20px rgba(0, 0, 0, .15);
    color: #010c9f;
}


a.formClicked {
    text-decoration: none;
    font-weight: bolder;
    font-size: 15px;
    color: #e60000;
    text-shadow: 0 1px 0 #e60000,
    0 2px 0 #c9c9c9, 0 3px 0 #bbb,
    0 4px 0 #b9b9b9, 0 5px 0 #aaa,
    0 6px 1px rgba(0, 0, 0, .1),
    0 0 5px rgba(0, 0, 0, .1),
    0 1px 3px rgba(0, 0, 0, .3),
    0 3px 5px rgba(0, 0, 0, .2),
    0 5px 10px rgba(0, 0, 0, .25),
    0 10px 10px rgba(0, 0, 0, .2),
    0 20px 20px rgba(0, 0, 0, .15);
    color: #e60000;
}

section {
    display: flex;
}

nav {
    flex: 1;
    background: rgb(188, 195, 210);
    /*padding: 5px;*/
    text-align: right;
    padding-right: 20px;
}

nav ul {
    list-style-type: none;
}

nav li {
    margin-bottom: 20px;
}

article {
    flex: 3;
    background-color: rgb(188, 195, 210);
}

div.article {
    border-radius: 20px;
    background-color: white;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
    margin-bottom: 30px;
    margin-right: 30px;
}

div.form_to_send {
    border-radius: 20px;
    background-color: white;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
    margin-bottom: 30px;
    margin-right: 30px;
}

div.form_label {
    margin-top: 10px;
    margin-bottom: 5px;
}

input.forms {
    font-size: 18px;
    padding-left: 10px;
}

textarea.forms_explanation {
    word-wrap: break-word;
    word-break: break-all;
    font-size: 18px;
    padding-left: 10px;
    height: 200px;
}

select.forms {
    font-size: 18px;
    padding-left: 10px;
}

section::after {
    display: table;
    clear: both;
}

footer {
    background-color: rgb(149, 159, 178);
    padding: 20px;
    text-align: center;
    color: green;
}

@media (max-width: 730px) {
    section {
        flex-direction: column;
    }

    div.article {
        margin-left: 10px;
        margin-right: 10px;
    }

    nav {
        flex: 1;
        background: rgb(188, 195, 210);
        /*padding: 5px;*/
        text-align: center;
    }

    div.whole {
        width: 100%;
    }
}